/* 
    Custom CSS template 
*/
body {
    background: url("../img/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Custom Font */
@font-face {
    font-family: Yalm;
    src: url(../font/AboveDemoRegular-lJMd.ttf);
}
/* Content */
#content {
    background: #fff;
    min-height: 25rem;
    margin-top: 4rem;
    margin-bottom: 9rem;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 0 5px 2px #cbcbcb;
    box-shadow: 0 0 5px 2px #cbcbcb;
    padding: 1rem 1rem 1rem 1rem;
}
.content-header {
    margin-top: 1rem;
    font-family: Yalm;
    font-size: 5rem;
}
